.colors {
  color: #574f4a, #48b9c7, #faa41a, #ffffff, #48b9c7, #ffffff, #26d076, #dc4405;
  /* https://slackthemes.net/#/system76 */
}

.appContainer {
  display: grid;
  grid-template-columns: minmax(55px, 1fr) minmax(100px, 2fr) 10fr;
  grid-template-rows: 100vh;
}

.teamsContainer {
  background-color: #312c29;
  grid-column-start: 1;
}

.channelsContainer {
  background-color: #574f4a;
  grid-column-start: 2;
}
.chatContainer {
  grid-column-start: 3;
}

.chatBox {
  color: #3b3836;
}

/* .conversationsBox {
  background-color: #574f4a;
  color: #ffffff;
} */

.messages {
  min-width: 100%;
  /* position: absolute; */
  top: 0px;
  padding-bottom: 70px;
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
  /* background-color: burlywood; */
}
.messagesWrapper {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chatInput {
  position: fixed;
  bottom: 0;
  min-width: 100%;
}

.messageBox {
  min-height: 70px;
  padding-top: 5px;
}
.messageUserIcon {
  background-color: #48b9c7;
  float: left;
  height: 45px;
  width: 45px;
  shape-outside: circle();
  clip-path: circle();
  margin: 5px;
  padding-top: 10px;
}
.messageUserName {
  font-size: large;
  float: left;
  padding: 2px;
  position: relative;
}
.messageTimeStamp {
  font-size: small;
  position: relative;
  left: 10px;
  padding: 5px;
}
.message {
  left: 2px;
  position: relative;
  padding: 2px;
}
