.colors {
  color: #574f4a, #48b9c7, #faa41a, #ffffff, #48b9c7, #ffffff, #26d076, #dc4405;
  /* https://slackthemes.net/#/system76 */
}

.appContainer {
  display: grid;
  grid-template-columns: minmax(55px, 1fr) minmax(150px, 2fr) 10fr;
  grid-template-rows: 100vh;
}

.overflowEllipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.allCapTitle {
  text-transform: uppercase;
  font-size: small;
}

.menuHover {
  cursor: pointer;
}

.menuHover:hover {
  background-color: #48b9c7;
  color: #ffffff;
}
.menuSelected {
  background-color: #faa41a;
  color: #ffffff;
  cursor: pointer;
}

/* Teams */
.teamsContainer {
  grid-column-start: 1;
}
.teams {
  background-color: #312c29;
}

.teamIconNoIcon {
  background-color: #26d076;
  color: #ffffff;
  height: 45px;
  width: 45px;
  shape-outside: circle();
  clip-path: circle();
  margin: auto;
  margin-top: 7px;
  padding-top: 10px;
}

.teamIconWithIcon {
  background-color: #312c29;
  background-repeat: no-repeat;
  background-position: center center;
  height: 45px;
  width: 45px;
  shape-outside: circle();
  clip-path: circle();
  margin: auto;
  margin-top: 7px;
  padding-top: 10px;
}

.teamHover {
  cursor: pointer;
}

.teamHover:hover {
  height: 50px;
  width: 50px;
  clip-path: polygon(
    20% 0%,
    80% 0%,
    100% 20%,
    100% 80%,
    80% 100%,
    20% 100%,
    0% 80%,
    0% 20%
  );
  margin: auto;
  margin-top: 7px;
  padding-top: 10px;
}

.teamSelected {
  background-color: #faa41a;
  height: 45px;
  width: 12px;
  clip-path: circle(25% at 0 50%);
  position: absolute;
  float: left;
}

/* Channels */
.channelsContainer {
  background-color: #574f4a;
  grid-column-start: 2;
}

.channelsWrapper {
  width: 100%;
  height: 100%;
}

.channels {
  background-color: #574f4a;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
}

.channelHeader {
  background-color: #48b9c7;
  color: #ffffff;
  height: 45px;
  top: 0;
  text-align: left;
  padding: 15px;
  padding-top: 10px;
  font-size: large;
}

.availableChannels {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #c0c0c0;
}
.channel {
  margin-left: 15px;
}

.directMessages {
  padding-top: 50px;
}
.contact::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 8px;
  /* padding-right: 2px; */
  background-color: #26d076;
}
.channelFooterWrapper {
  display: grid;
}
.channelFooter {
  background-color: #48b9c7;
  color: #ffffff;
  height: 65px;
  bottom: 0px;
  text-align: center;
  padding-top: 10px;
}
.channelFooterUserIcon {
  background-color: #060707;
  float: left;
  height: 45px;
  width: 45px;
  border-radius: 5px;
  margin: 5px;
  padding-top: 10px;
}

.footerUserName {
  float: left;
  color: #ffffff;
  margin: auto;
  padding-top: 9px;
  max-width: 100px;
}

/* Chat */
.chatContainer {
  grid-column-start: 3;
}

.chatBox {
  color: #000000;
}

.messages {
  min-width: 100%;
  top: 0px;
  padding-bottom: 70px;
  overflow: scroll;
  overflow-x: hidden;
  height: 100vh;
}
.messagesWrapper {
  overflow: auto;
  display: flex;
  flex-direction: column-reverse;
}

.chatInput {
  position: fixed;
  bottom: 0;
  min-width: 100%;
}

.messageBox {
  min-height: 70px;
  padding-top: 5px;
  display: grid;
  grid-template-columns: minmax(55px, 55px) minmax(150px, 2fr);
}
.messageFloatLeft {
  float: left;
}
.messageUserIconNoBackground {
  float: left;
  height: 45px;
  width: 45px;
  shape-outside: circle();
  clip-path: circle();
  margin: 5px;
  padding-top: 10px;
}
.messageUserIconWithBackground {
  background-color: #48b9c7;
  float: left;
  height: 45px;
  width: 45px;
  shape-outside: circle();
  clip-path: circle();
  margin: 5px;
  padding-top: 10px;
}

.messageUserName {
  font-size: large;
  float: left;
  padding: 2px;
  position: relative;
}
.messageTimeStamp {
  font-size: small;
  position: relative;
  left: 10px;
  padding: 5px;
}
.message {
  left: 2px;
  position: relative;
  padding: 2px;
}
